﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<twinkle_example_studentdetailsassignment.Models.Student>
<div>this is the details page</div>
@{
    var student = ViewData["Student"] as twinkle_example_studentdetailsassignment.Models.Student;
}

<div>
   <div> Student Id:@student.StudentId</div>
   <div> Student Name:@student.StudentName</div>
   <div> Section: @student.Section</div>
   <div> Grade:@student.Grade</div>
    <div>Gender:@student.Gender</div>
</div>
