﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <header>@ViewData["abc"],@ViewBag.someexample</header>
    @Html.ActionLink("Go To Single details","Details")
    <div>@Html.ActionLink("Go to student list","StudentList")</div>


    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
