﻿@model twinkle_example_studentdetailsassignment.Models.Student

<div>
    @{ 
        using (Html.BeginForm())
            {
                @Html.LabelFor(o=>o.StudentName)
                @Html.TextBoxFor(o=>o.StudentName)<br/>

                @Html.LabelFor(o=>o.StudentLName)
                @Html.TextBoxFor(o=>o.StudentLName)<br/>


                 @Html.LabelFor(o=>o.Studentemail)
                @Html.TextBoxFor(o=>o.Studentemail)<br/>

                 @Html.LabelFor(o=>o.Studentdob)
                @Html.TextBoxFor(o=>o.Studentdob)<br/>

                 @Html.LabelFor(o=>o.Studentdoj)
                @Html.TextBoxFor(o=>o.Studentdoj)<br/>

                 @Html.LabelFor(o=>o.Studentstream)
                @Html.TextBoxFor(o=>o.Studentstream)<br/>

                 @Html.LabelFor(o=>o.Section)
                @Html.TextBoxFor(o=>o.Section)<br/>



                 @Html.LabelFor(o=>o.Grade)
                @Html.TextBoxFor(o=>o.Grade) <br/>

                 @Html.LabelFor(o=>o.Gender)
                @Html.TextBoxFor(o=>o.Gender)


            <input type="submit" value="modifyStudent" />
 
            }





    }
</div>

