﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<twinkle_example_studentdetailsassignment.Models.Student>
<div>
    @Html.ActionLink("Add Student","AddStudent")
    <ul>
        @{ 
            foreach (var item in Model)
            {
                <li>@item.StudentId | @item.StudentName |@item.StudentLName | @item.Studentemail  |@item.Studentdob | @item.Studentdoj |@item.Studentstream |@item.Section |@item.Grade |@item.Gender</li>
                <li><form action="@Url.Action("Delete",new { id=@item.StudentId})" method="post"></form><input type="submit" value="Delete" /></li>
                <li><a href="@Url.Action("modifyStudent",new { id=@item.StudentId})" class="btn btn-primary">Edit</a></li>
            }
        }
    </ul>
</div>