*{
    margin: 0;
    padding: 0;
}
body{
    font-family: lato;
}
#box{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
#box div{
    position: relative;
    height: 100%;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 40px;
}
.content h1 {
font-size: 70px;
font-weight: bold;
color: #262626;
text-transform: uppercase;
    margin-bottom: 40px;
}
#about .content h1,
#portfolio .content h1,
#services .content h1,
#contact .content h1{
    color: #5b5b5b;
}
.content p {
line-height: 1.5;
margin: auto;
color: #000;
}
ul {
padding: 0;
text-align: center;
position: fixed;
margin: 2% auto;
z-index: 1;
width: 1100px;
left: 0;
right: 0;
    font-family: lato;
}
ul li{
    list-style: none;
    display: inline-block;
}

ul li a {
display: block;
text-decoration: none;
height: 45px;
font-size: 20px;
background: pink;
width: 200px;
color: #262626;
margin: 4px 0;
text-transform: uppercase;
line-height: 45px;
}
ul li a:hover{
    background: blue;
    text-decoration: none;
    color: black;
}
#home{
   
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;


}
#home{
    background: rgba(245, 245, 245, 0.199)
}
#about{
    background: thistle;
}
#services{
    background: paleturquoise;
}

#portfolio{
    background: rgb(246, 255, 196);
}
#contact
{
background: blanchedalmond;
}
